.button-wrapper {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 2em;
    background-color: #e0e1e6;
    color: #888888;
    flex: 1;
    outline: 1px solid #888888;
}
  
.operator {
    background-color: #fe9241;
    color: #ffffff;
    font-weight: 500;
}

.button-wrapper:hover {
    cursor: pointer;
}
