body {
  background-color: black;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: black;
}

.calc-wrapper {
  width: 100%;
  min-height: 100vh;
}

.row {
  display: flex;
  width: 100%;
}